<% layout('layouts/boilerplate.ejs') %>

<h2>All campgrounds</h2>
<ul>
    <% for(let camp of campgrounds){ %>
        <li><%= camp.title %> <a href="/campgrounds/<%= camp._id %>">details</a></li>
<% } %>
</ul>
<a href="/campgrounds/new">Create New Campground</a>