<% layout('layouts/boilerplate.ejs') %>

<div class="container mt-1">
	<div class="row">
		<h1 class="text-center">New Campground</h1>
		<div class="col-6 offset-3">
			<form action="/campgrounds" method="post" class="Validate-form" enctype="multipart/form-data" novalidate>
				<div class="mb-3">
					<label for="title" class="form-label">Enter the title</label>
					<input type="text" id="title" name="campground[title]" class="form-control" required />
				</div>
				<div class="mb-3">
					<label for="location" class="form-label">Enter the location</label>
					<input type="text" id="location" name="campground[location]" class="form-control" required />
				</div>
				<div class="mb-3">
					<label for="formFileMultiple" class="form-label">Multiple files input example</label>
					<input class="form-control" type="file" id="formFileMultiple" name="campground[image]" multiple>
				</div>
				<div class="mb-3">
					<label for="price" class="form-label">Price :</label>
					<div class="input-group mb-3">
						<span class="input-group-text">&#8377;</span>
						<input type="number" class="form-control" name="campground[price]" required />
					</div>
				</div>
				<div class="mb-3">
					<label for="description" class="form-label">Description :</label>
					<textarea class="form-control" name="campground[description]" id="description" rows="3" required></textarea>
				</div>
				<button class="btn btn-success">Add New Campground</button>
			</form>
		</div>
	</div>
</div>